html {
    box-sizing: border-box;
    font-size: 10px;
    background-image: url(./1576940301_preview_Holidays_Christmas_402342.jpg);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    color: azure;
  }
  
  h1 {
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 0;
    color: azure;
  }
  h2 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
    color: azure;
  }
  
  .score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
    color: azure;
  }
  
  .game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
    min-height: 300px;
  }
  
  .hole:after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 80%;
    height:200px;
    position: absolute;
    z-index: 2;
    bottom: -40px;
  }
  
  
  .mole {
    background: url('') bottom center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    left: -20px;
    transition:all 0.4s;
    z-index: 1;
  }
  
  .hole.up .mole {
    top: -100px;
  }
  
  .no-loaded {
      display: none;
  }

  .container {
    margin: 0 auto;
    max-width: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .start-bot {
    margin: 0 auto;
    max-width: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

input[type="text"] {
    padding: 4px 6px;
    z-index: 1;
}
input[type="text"]:focus {
    box-shadow: 0 0 20px rgba(236, 25, 25, 0.5);
    z-index: 1;
}
input[type=text] {
    border:none;
    text-align: center;
    color: azure;
    padding: 15px;
    font-size: 5rem;
    min-width: 250px;
    height: 50px;
    border-radius: 20px;
    background: rgba(255,255,255,0.4);
    outline:none;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
}

li {
    list-style: none;
    display: flex;
    color: azure;
    font-size: 5rem;
    line-height: 1;
    max-height: 60px;
}

p {
    padding: 5px 30px 5px 30px;
}

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
} /* Убрать обводку у кнопок после нажатия */

.start,
.load-game {
  z-index: 1;
}

.start button {
    border: none;
    background: rgba(231, 179, 36, 0.4);
    color: azure;
    font-size: 5rem;
    max-height: 70px;
    cursor: pointer;
    padding: 0px 30px 0px 30px;
    margin: 50px 30px 0px 30px;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
}

.load-game button {
    border: none;
    background: rgba(231, 179, 36, 0.4);
    color: azure;
    font-size: 5rem;
    max-height: 70px;
    cursor: pointer;
    padding: 0px 30px 0px 30px;
    margin: 50px 30px 0px 30px;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
}

.authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registration {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newUser {
  display: none;
}

canvas { 
  display: block; 
  vertical-align: bottom; 
} 
#particles-js { 
  position:absolute; 
  top: 0;
  width: 100%; 
  height: 100%;
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
  z-index: 0;
} 
.count-particles { 
  background: #000022; 
  position: absolute; 
  top: 48px; 
  left: 0; 
  width: 80px; 
  color: #13E8E9; 
  font-size: .8em; 
  text-align: left; 
  text-indent: 4px; 
  line-height: 14px; 
  padding-bottom: 2px; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: bold; 
} 
.js-count-particles { 
  font-size: 1.1em; 
} 
#stats, 
.count-particles { 
  -webkit-user-select: none; 
  margin-top: 5px; 
  margin-left: 5px; 
} 
#stats { 
  border-radius: 3px 3px 0 0; 
  overflow: hidden; 
} 
.count-particles { 
  border-radius: 0 0 3px 3px; 
}